# Ignore certs directory contents as well as the list of locally installed certs
# certs/*
# cert-list.nix

# Ignore device configuration as it is system-specific
hardware-configuration.nix
hwconfig-extra.nix

# The below module contains hostname, username, etc. that is user-specific.
sysSettings.nix

# Ignore wallpaper folder
home-manager/wallpapers/* 
